<label>UserName:</label>

<p>{{userName}}</p>

<input type="text" class="form-control" [(ngModel)]="userName" placeholder="Change UserName">

<br>

<button class="btn btn-primary" [disabled]="userName === ''" (click)="userName = ''">Reset UserName</button>

<br>

<hr>

<p *ngIf="detailsShow">THIS IS THE WORST GAME OF THRONES SPOILER EVER!<br>GAHHHHHH HIDE ME OH NO!</p>

<button class="btn btn-info" (click)="onDetails()">{{detailsAction}} details</button>

<ul>
    <li *ngFor="let buttonPress of logDetailsButtonPresses" 
    [ngStyle]="{backgroundColor: buttonPress >= 5 ? 'blue' : 'transparent'}"
    [ngClass]="{'white-text': buttonPress >= 5}">
        You pressed it {{buttonPress}} times. Coward.</li>
</ul>

<br>

<hr>

<label>Server Name(s):</label>

<input type="text" class="form-control" [(ngModel)]="serverName" placeholder="Change Server Name">

<br>

<button class="btn btn-danger" [disabled]="serverName === ''" (click)="onCreateServer()">Add Server</button>

<p *ngIf="serverCreated; else noServer">Server was created, server name is {{serverName}}</p>
<ng-template #noServer>
    <p>No server has been created.</p>
</ng-template>

<br>

<hr>

<label>Server Status:</label>

<br>

<app-server *ngFor="let server of servers"></app-server>